.gh {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    justify-content: center;
}

.gh a {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    justify-content: center;
}
    

.stats {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.stats a {
    display: inline-block;
    margin-right: 10px;
}

.repositories {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Adjust spacing between items */
    overflow-x: auto;
    white-space: nowrap;
}

#view-all-repo {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.repositories a {
    display: inline-block;
    margin-right: 10px;
}

.repo-image {
    width: 400px; /* Set the desired width */
    height: 200px; /* Set the desired height */
}

.user-image {
    width: 400px; /* Set the desired width */
    height: 150px; /* Set the desired height */
}
