.gh {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.gh a {
    display: inline-block;
    margin-right: 10px;
}
    


.stats {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.stats a {
    display: inline-block;
    margin-right: 10px;
}

.repositories {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.repositories a {
    display: inline-block;
    margin-right: 10px;
}

.repo-image {
    width: 400px; /* Set the desired width */
    height: 200px; /* Set the desired height */
}

.user-image {
    width: 400px; /* Set the desired width */
    height: 150px; /* Set the desired height */
}
